@model IEnumerable<Balance>

@{
    ViewData["Title"] = "Index";
}

<h1>Saldos</h1>
<p>
    <h4> @User.Identity?.Name</h4>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.UserApp) 
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMovement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndlDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.UserApp)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMovement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndlDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                 <a  class="far fa-money-bill-alt" asp-action="CashOut" asp-route-id="@item.Id" title="Retirar"  style="font-size:24px;color:green"></a> |
                 <a  class="fas fa-chart-line" asp-action="Movements" asp-route-id="@item.Id" title="Movimientos" style="font-size:24px;color:blue"></a> |
            </td>
        </tr>
}
    </tbody>
</table>
