@model EmpresariosConLiderazgo.Models.Entities.Balance

@{
    ViewData["Title"] = "Movimientos";
    IEnumerable<Movements> movements = ViewData["Movements"] as IEnumerable<Movements>;
}

<h1>Movimientos</h1>

<div>
    <h4> @User.Identity?.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastMovement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastMovement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BalanceAvailable)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndlDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndlDate)
        </dd>

    </dl>
</div>



<table class="table">
    <thead>
    <tr>
        <th>
           Id
        </th>
        <th>
           Fecha
        </th>
        <th>
           Nombre
        </th>
        <th>
           Saldo Antes
        </th>
          <th>
           Valor Retiro
        </th>
        <th>
           Saldo Despues
        </th>
         <th>
           Aprobado
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (Movements movement in movements)
    {
        <tr>
            <td>@movement.Id</td>
            <td>@movement.DateMovement</td>
            <td>@movement.Name</td>
            <td>@movement.BalanceBefore</td>
            <td>@movement.CashOut</td>
            <td>@movement.BalanceAfter</td>
            <td>@movement.status</td>
        </tr>
    }
    
    </tbody>
</table>